<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.css" />
    
    <link rel='stylesheet' href='/webjars/font-awesome/css/all.min.css'/>
    <link rel='stylesheet' href='/webjars/chartjs/Chart.css'/>
    <link rel="stylesheet" href="/webjars/select2/css/select2.min.css"  />
    <link rel="stylesheet" href="/css/main.css"  />
    

    
    <title>B3 Statistics</title>
</head>
<!--body class="bg-warning "-->
<body >
    <div class="container ">
		<nav class="navbar navbar-expand-md p-0 " id="main-menu">
			<a class="navbar-brand" href="#" 
			style="color:#63b175;font-family:Arial, Helvetica, sans-serif;
			font-size: 20px;font-weight:lighter;">
			<i class="far fa-chart-bar"></i>  b3<span style="font-size: 15px"> Statistics</span></a>
		</nav>
	</div>
<!-- reference 			https://select2.org/getting-started/basic-usage -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 mt-5 d-flex justify-content-center">
				<select id="br-states" class="js-single form-control" name="state" style="width:100%;">
				  <option></option> <!-- contorno para aparecer o 'placeholder e não a 1a. opção  -->
				  <optgroup label="Sul">
					  <option value="RS">Rio Grande do Sul</option>
				  </optgroup>
				  <optgroup label="Sudeste">
				  	<option value="SP">São Paulo</option>
                    <option value="RJ" disabled="disabled">Rio de Janeiro</option>
				  </optgroup>
 				  <optgroup label="Nordeste">
  				  	<option value="BA">Bahia</option>
				  </optgroup>
				</select>
			</div>
			
			<div class="col-md-2 mt-5 d-flex justify-content-center">
				<select id="stocks" class="js-stocks form-control" name="stock" style="width:100%;">
				  <option></option> <!-- contorno para aparecer o 'placeholder e não a 1a. opção  -->
				</select>
			</div>
			
			<div class="col-md-3  mt-5 d-flex justify-content-center">
<!-- 				<label for="us-states"> -->
<!-- 					<span>Escolha na lista abaixo para a contra referência</span> -->
					<select id="us-states" class="js-multiple form-control form-control-sm " name="state" multiple="multiple" style="width:100%">
					 				  <option></option> <!-- contorno para aparecer o 'placeholder e não a 1a. opção  -->
					  <option value="AL">Alabama</option>
					  <option value="WY">Wyoming</option>
	  				  <option value="NY">New York</option>
	  				  <option value="NJ">New Jersey</option>
					</select>
<!-- 				</label> -->
			</div>	
			<div class="col-md-2 mt-5 d-flex justify-content-center">
				<input type="text" id="datepicker1" class="form-control form-control-sm">
			</div>	
			<div class="col-md-2 mt-5 d-flex justify-content-center">
				<input type="text" id="datepicker2" class="form-control form-control-sm" >
			</div>		
		</div>
	</div>

    <div class="col-md-6 offset-md-3 py-5">
        <div class="card border-light " style="background-color: #f2f2f2;">
            <div class="card-body" align="center">
                <h1>Comparativo</h1>
            </div>

            <div id="re-msg-error" class="card-body" align="center">
                
            </div>
<!--             <div class="card-body" align="center"> -->
<!--                 <button class="btn btn-primary" onclick="addFirst()">+ 1 Data</button> -->
<!--                 <button class="btn btn-primary" onclick="removeFirst()">- 1 Data</button> -->
<!--                 <button class="btn btn-success" onclick="updateChart()">Update</button> -->
<!--                 <button class="btn btn-primary" onclick="addLast()">+ 1 Label</button> -->
<!--                 <button class="btn btn-danger" onclick="removeLast()">- 1 Label</button> -->
<!--             </div> -->
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

<!-- start footer -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/jquery-ui.min.js"></script>
    <script src='/webjars/bootstrap/js/bootstrap.min.js'></script>
	<script src="/webjars/select2/js/select2.min.js"></script>
	<script src='/webjars/momentjs/min/moment.min.js'></script>
    <script src='/webjars/chartjs/Chart.min.js'></script>
    <script src='/webjars/font-awesome/js/all.min.js'></script> 
<!-- end footer -->

    
<script>
	// In your Javascript (external .js resource or <script> tag)
	$(document).ready(function() {

//		getStockSymbols();
		
	    $('.js-single').select2({
	    	placeholder: 'Selecione a linha referência',
	    	allowClear: true});
	    $('.js-multiple').select2({
	    	placeholder: 'Selecione as contra-referência',
	    	maximumSelectionLength: 4,
	    	closeOnSelect: false,
	    	allowClear: true
		    });
	});

	$('#br-states').on('select2:select', function (e) {
		var data1 = e.params.data;
	    console.log("br-states: " + data1);
		});

	$('#us-states').on('select2:select', function (e) {
		var data = e.params.data;
	    console.log("us-states: " + data['text'] + " event type: " + e.type);
		});

	$('#us-states').on('select2:unselecting', function (evt) {
		var data2 =evt.params.data;
		console.log(evt.params.args.data.text);
	    console.log("us-states: " + data2 + " event type: " + evt.type);
		});	
</script>
 
<script>
 function mapToSelect2(elem, indx) {
	 return { id : indx,
		      text : elem
		 };
   };
   

  function preparaDados(dados) {
      return dados.map(data => {
        result = (1-(cotacao.precoFechamento/cotacao.precoAbertura))*100;
                return  parseFloat(result.toFixed(2));          
      });
  };

  function setData(startDate,endDate){  // utilização de "closure"
        return function(name){
            return 'http://localhost:8084/api/b3/quotes/'+ name + '?start=' + startDate + '&end=' + endDate;
        };
  };

  function setDate(startDate,endDate){         // utilização de "closure"
	  let sDate = startDate;
	  let eDate = endDate;
	  let uri   = 'http://localhost:8084/api/b3/quotes?fields=abc';
      return function(){
          return uri + '&start=' + startDate + '&end=' + endDate;
      };
	};

	function getStockSymbols(){
		const urlStockSymbols = setDate('20200407','20200408')();
		var request0 = new Request(urlStockSymbols); 

	      Promise.all([fetch(request0).then(retornaDados)])
	        .then(val => {
	        	  	let newarray = val[0].data.map(mapToSelect2);
	        	  	console.log(newarray);
	        	    $('.js-stocks').select2({
	        	    	placeholder: 'Selecione a ação',
	        	    	data: newarray,
	        	    	allowClear: true});
		        })
	        .catch(error => {
	            console.log('Opss!! erro = ' + error);
	            displayError(error);
	        });		
	}	

  function retornaDados(resp){
        return resp.json();
  }

  function render(valores){
        console.log(valores);
        renderMultipleChart(valores);
  }
  
  function displayError(error){
        $("#re-msg-error").append( `<p class='text-danger'>ERRO: ${error}</p>`);
  }

  let getUrl = setData('20200612','20200618');

//    const url = 'http://localhost:8084/api/b3/quotes/mglu3?start=20200612&end=20200617';

      const url = getUrl('MGLU3');
      const url1 = getUrl('BOVA11');
//      const url2 = getUrl('TEKA3');

      var request = new Request(url); 
      var request1 = new Request(url1); 

 //     Promise.all([fetch(url,ori).then(retornaDados), fetch(url1,ori).then(retornaDados)])
      Promise.all([fetch(request).then(retornaDados), fetch(request1).then(retornaDados)])
        .then(render)
        .catch(error => {
            console.log('Opss!! erro = ' + error);
            displayError(error);
        });
/*
    fetch(url)
        .then(retornaDados)
        .then(renderChart)
        .catch((error) => {
            console.log('Opps!! ' + error);
        });
*/
    var olddata = [0, 10, 5, 2, 20, 30, 45];
    var newdata = [10, 20, 30, 42, 50, 60, 70];

    var olddata1 = [99, 80, 75, 62, 50, 40, 35];
    var newdata1 = [5, 10, 55, 15, 20, 55, 25];

    var ctx = document.getElementById('myChart').getContext('2d');

function renderChart(data) {
    //        console.log(data);
            let resultado = data.map(cotacao => {
                result = (1-(cotacao.precoFechamento/cotacao.precoAbertura))*100;
                return  parseFloat(result.toFixed(2));
            });
//            console.log(resultado);
            var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["011", "02", "03", "04", "05", "06", "07"], 
        datasets: [{ 
              type: 'bar',
              label: 'MGLU3',
              backgroundColor: 'rgb(0, 99, 132)',
              borderColor: 'rgb(0, 99, 132)',
              data: resultado,
              order: 2,
            }, {
              type: 'line',
              label: 'BOVA11',
              borderColor: 'rgb(255, 0, 0)',
			  borderWidth: 1,
              fill: false,
              order: 1,
              data: [0.54, 2.34, 1.23, -4.55, 3.21, 5.55, 0.33]
            }
            /*
            ,{ 
              type: 'bar',
              label: 'OTHER',
              backgroundColor: 'rgb(0, 255, 0)',
              borderColor: 'rgb(0, 255, 0)',
              data:[0.23, 1.34, 6.23, 3.55, 0.21, 2.55, 1.33],
              order: 3,
            }
            */
            
            ]
    },
    // Configuration options go here
    options: {
        scales:{
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Dia'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Ganho/Perda'
                }
            }]
        }
    }
//					responsive: true,
//					title: {
//						display: true,
//						text: 'Chart.js Combo Bar Line Chart'
//					},
//					tooltips: {
//						mode: 'index',
//						intersect: true
//					}
//				}
});
        }
//=====================================================================================================
function renderMultipleChart(resultados) {

    console.log(resultados);

    let resultadoPorAcao = resultados.map(resultadoStock =>{

        let resultado = resultadoStock.map(cotacao => {
                result = (1-(cotacao.precoFechamento/cotacao.precoAbertura))*100;
                return  parseFloat(result.toFixed(2));
            });

            return resultado;
    })

    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
//        labels: ['01', '02', '03', '04', '05', '06', '07'],
        labels: [
            
                newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)
                
                /*
                newDate1("20200612"),
                newDate1("20200613"),
                newDate1("20200614"),
                newDate1("20200615"),
                newDate1("20200616"),
                newDate1("20200617"),
                newDate1("20200618")
*/
        ],
        datasets: [{ 
              type: 'bar',
              label: 'MGLU3',
              backgroundColor: 'rgb(0, 99, 132)',
              borderColor: 'rgb(0, 99, 132)',
              data: resultadoPorAcao[0],
              order: 2,
            }, {
              type: 'line',
              label: 'BOVA11',
              borderColor: 'rgb(255, 0, 0)',
			  borderWidth: 1,
              fill: false,
              order: 1,
              data: resultadoPorAcao[1]
            }
            /*
            ,{ 
              type: 'bar',
              label: 'TEKA3',
              backgroundColor: 'rgb(0, 255, 0)',
              borderColor: 'rgb(0, 255, 0)',
              data:resultadoPorAcao[2],
              order: 3,
            }
            */
            ]
    },
    // Configuration options go here
    options: {
        scales:{
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Dia'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Ganhos/Perdas'
                }
            }]
        }
    }
});
        }
//=====================================================================================================        

function newDate(days){
//ref.: https://momentjs.com/docs/  e https://stackoverflow.com/questions/22547129/momentjs-date-string-add-5-days
//    return moment(moment().add('20200621', 'YYYYMMDD').toDate()).format('MMM DD');

    return moment(moment().add(days, 'd').toDate()).format('MMM DD');
}

function newDate1(date){
    //ref.: https://momentjs.com/docs/  e https://stackoverflow.com/questions/22547129/momentjs-date-string-add-5-days
    return moment(date).format('MMM DD');
}


function updateChart(){
//    chart.data.datasets[0].data = newdata;
//    chart.data.datasets[1].data = newdata1;
      chart.data.labels = ['August', 'September', 'October', 'November', 'December'];
    chart.update();
};

function addFirst(){
    chart.data.datasets[0].data.unshift(650);
    chart.update();
}

function addLast(){
    chart.data.datasets[0].data.push(700);
    chart.data.labels.push("January");
    chart.update();
}

function removeLast(){
    chart.data.labels.pop();
    chart.update();
}

function filterStock(term){
	return data.text("world", 12);
}

function removeFirst(){
    chart.data.datasets[0].data.shift();
    chart.update();
}

$(".js-stocks").select2({
    minimumInputLength: 1,
//    formatInputTooShort: (term, minLength) => string
    language: { inputTooShort: function(args) {
	      // args.minimum is the minimum required length
	      // args.input is the user-typed text
	      return "Não esqueça de marcar a data Type more stuff";
	    },
	    noResults: function() {
	        return "Ação não Encontrada. Verifique a ação e a data escolhida!";
	      },
	      searching: function() {
	        return "Pesquisando...";
	      }
    },
	ajax: {
	    url: "http://localhost:8084/api/b3/quotes", //?fields=name&start=20200407&end=20200408",
	    dataType: 'json',
	    delay: 1000,
	    data: function (params) {
	        var query = {
	    	  fields: params.term,
	          start: date01, // format: "yyyymmdd", ex.: "20200406"
	          end: date02
	        }

	        // Query parameters will be ?search=[term]&type=public
	        return query;
	      },
	    processResults: function (data, params) {
	      // parse the results into the format expected by Select2
	      // since we are using custom formatting functions we do not need to
	      // alter the remote JSON data, except to indicate that infinite
	      // scrolling can be used
//	      params.page = params.page || 1;
	      console.log(data);
	      console.log(params.term);
//		  data = resp.json();

function filterItems(query) {
  return data.data.map(mapToSelect2).filter(function(el) {
//	  console.log(el);
      return el.text.indexOf(query) > -1;
       })
}

		  let newarray = data.data.map(mapToSelect2);
//		  let newarray = filterItems("PETR");

	      return {
		    results: newarray
//	        results: data.items,
// 	        pagination: {
// 	          more: (params.page * 30) < data.total_count
// 	        }
	      };
	    },
//	    cache: true
	  }
// 	  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
// 	  minimumInputLength: 1,
// 	  templateResult: formatRepo, // omitted for brevity, see the source of this page
// 	  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
	});
</script>    
<script>
      // ref: https://api.jqueryui.com/datepicker
      let date01;
      let date02;
  $( function() {
    $( "#datepicker1" ).datepicker({
    	dateFormat: "DD, dd MM yy",
    	onSelect: function() { 
    		date01 = $(this).datepicker('getDate');
    		date01 = $.datepicker.formatDate("yy-mm-dd", date01); 
    	}
    	});
    $( "#datepicker2" ).datepicker({
    	onSelect: function() { 
    		date02 = $(this).datepicker('getDate');
    		date02 = $.datepicker.formatDate("yy-mm-dd", date02); 
    	}
    });
    
  } );
  </script>
  <script>
  let opts =  {
		    inputTooShort: function(args) {
		      // args.minimum is the minimum required length
		      // args.input is the user-typed text
		      return "Type more stuff";
		    },
		    inputTooLong: function(args) {
		      // args.maximum is the maximum allowed length
		      // args.input is the user-typed text
		      return "You typed too much";
		    },
		    errorLoading: function() {
		      return "Error loading results";
		    },
		    loadingMore: function() {
		      return "Loading more results";
		    },
		    noResults: function() {
		      return "No results found";
		    },
		    searching: function() {
		      return "Searching...";
		    },
		    maximumSelected: function(args) {
		      // args.maximum is the maximum number of items the user may select
		      return "Error loading results";
		    }
		  };

  </script>
</body>
</html>