<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
                   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- using webjars-locator in pom.xml,dispensa especificar a versão -->
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/webjars/font-awesome/css/all.min.css'/>
	<title>Home B3 Application</title>
</head>
<body>
<!-- header -->
	<nav class="navbar navbar-expand-md p-0 " id="main-menu">
		<a class="navbar-brand" href="#" 
		style="color:#63b175;font-family:Arial, Helvetica, sans-serif;
		font-size: 20px;font-weight:lighter;">
		<i class="far fa-chart-bar"></i>  b3<span style="font-size: 15px"> Statistics</span></a>
	
	
	
	
	
	</nav>
	
<!-- content -->
<!-- footer -->
    <script src='/webjars/bootstrap/js/bootstrap.min.js'></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src='/webjars/font-awesome/js/all.min.js'></script>
</body>
</html>